{
    "id": "5af564ce0983b500080690fd",
    "customerId": "${account.scn}",
    "relatedObjectId": "{{request.query.relatedObjectId}}",
    "relatedObjectIdType": "MSISDN",
    "name": "{{request.path.[5]}}",
    "description": "some preferences",
    "attributes": [         
    	{
            "name": "{{jsonPath request.body '$.attributes.[0].name'}}",
            "value": "{{jsonPath request.body '$.attributes.[0].value'}}"
        },
        {
            "name": "{{jsonPath request.body '$.attributes.[1].name'}}",
            "value": "{{jsonPath request.body '$.attributes.[1].value'}}"
        },
        {
            "name": "{{jsonPath request.body '$.attributes.[2].name'}}",
            "value": "{{jsonPath request.body '$.attributes.[2].value'}}"
        },
        {
            "name": "{{jsonPath request.body '$.attributes.[3].name'}}",
            "value": "{{jsonPath request.body '$.attributes.[3].value'}}"
        }
    ]
}