<?xml version="1.0" encoding="UTF-8"?>
<subscription>
   <msisdn>{{request.path.[3]}}</msisdn>
   <services>
      <service>
         <name>cfu</name>
         <activation>off</activation>
         <fnum>{{replace request.path.[3] "41" "41860"}}</fnum>
      </service>
      <service>
         <name>cfb</name>
         <activation>on</activation>
         <fnum>{{replace request.path.[3] "41" "41860"}}</fnum>
      </service>
      <service>
         <name>cfnry</name>
         <activation>on</activation>
         <fnum>{{replace request.path.[3] "41" "41860"}}</fnum>
      </service>
      <service>
         <name>cfnrc</name>
         <activation>on</activation>
         <fnum>{{replace request.path.[3] "41" "41860"}}</fnum>
      </service>
   </services>
</subscription>