{
    "id": "5af564ce0983b500080690fd",
    "customerId": "${account.scn}",
    "relatedObjectId": "{{request.query.relatedObjectId}}",
    "relatedObjectIdType": "MSISDN",
    "name": "{{request.path.[5]}}",
    "description": "some preferences",
    "attributes": [
        {
            "name": "unconditional",
            "value": "deactivated"
        },
        {
            "name": "busy",
            "value": "activated"
        },
        {
            "name": "noReply",
            "value": "activated"
        },
        {
            "name": "notReachable",
            "value": "activated"
        }
    ]
}